<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Trips</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
</head>
<body>
      <header>
        <h1>SoJournal</h1>
        <nav class="main-nav">
            {{#if logged_in}}
            <a href="/profile">PROFILE</a>
            <button id="logout" class="btn btn-text" data-action="/api/users/logout" data-method="POST">LOGOUT</button>
            {{else}}
            <a href="/login">LOGIN</a>
            {{/if}}
        </nav>
    </header>
    <div class="main-content">
      {{{body}}}
    </div>

    <script src="/js/logout.js"></script>
</body>
</html>
