<main>
  <form id="create-trip-form">
    <div>
      <label for="create-trip-name">name:</label>
      <input type="text" id="create-trip-name" name="name" />
    </div>
    <div>
      <label for="create-trip-start-date">start date:</label>
      <input type="text" id="create-trip-start-date" name="start_date" />
    </div>
    <div>
      <label for="create-trip-end-date">end date:</label>
      <input type="text" id="create-trip-end-date" name="end_date" />
    </div>
    <div>
      <button type="submit">Save</button>
    </div>
  </form>
  <script src="/create-trip.js"></script>
</main>
