<main class="main-content">
  <nav class="side-nav">
    {{#each trips as |trip|}}
      <a class="nav-trip" href="/trip/{{trip.id}}">{{trip.trip_name}} ({{trip.date_start}})</a>
    {{/each}}
  </nav>
  
  <h1>Welcome back, {{user.username}}</h1>
  
</main>
