<div>
    <div>
        <h2>Welcome, {{username}}</h2>
    </div>
</div>

<div>
    {{#if trips.length}}
    <div class="trip-list">
        <h3>Saved Trips:</h3>

        {{#each trips as |trip|}}
        <div>
            <div>
                <h4><a href="/trip/{{trip.id}}">{{trip.name}}</a></h4>
            </div>
            <div>
                <button data-id="{{trip.id}}" class="btn btn-danger">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
    <div class="form-container">
        <h3>Create a new Trip</h3>
        <form class="form trip-form">
            <div class="input-group">
                <label for="trip-name">trip name:</label>
                <input type="text" id="trip-name" name="trip-name" autocomplete="off"/>
            </div>
            <div class="input-group">
                <label for="trip-date-start">trip start date:</label>
                <input type="text" id="trip-date-start" name="trip-date-start" autocomplete="off" />
            </div>
            <div class="input-group">
                <label for="trip-date-end">trip end date:</label>
                <input type="text" id="trip-date-end" name="trip-date-end" autocomplete="off" />
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    
</div>

<script src="/js/profile.js"></script>
