<div>
    <div>
        <h2>Welcome, {{username}}</h2>
    </div>
</div>

<div>
    <div>
        <h3>Create a new Trip</h3>

        <form class="trip-form form field">

        <div class="section field py-2 px-1">
          <label for="trip-name">trip name:</label>
          <div class="control column is-2 ">
            <input class="input is-small" type="text" id="trip-name" name="trip-name" />
          </div>
        </div>

            <div>
                <label for="trip-start_date">trip start date:</label>
                <input type="text" id="trip-start-date" name="trip-start-date" />
            </div>
            <div>
                <label for="trip-endDate">trip end date:</label>
                <input type="text" id="trip-end-date" name="trip-end-date" />
            </div>
            <div>
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
    {{#if trips.length}}
    <div class="trip-list">
        <h3>Saved Trips:</h3>

        {{#each trips as |trip|}}
        <div>
            <div>
                <h4><a href="/trip/{{trip.id}}">{{trip.name}}</a></h4>
            </div>
            <div>
                <button data-id="{{trip.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/profile.js"></script>